Package: unit-php{php_version}
Version: {unit_version}
Architecture: amd64
Depends: unit (= {unit_version}-1~{ubuntu_release}), php{php_version}, libphp{php_version}-embed
Maintainer: Roman Egorov <strayker.wl@gmail.com>
Description: Custom PHP {php_version} language module for NGINX Unit {unit_version}
